# Public image: credentials and proxy endpoints are supplied locally over USB.
CONFIG_GADGET_SDK_TOKEN=""
CONFIG_HOMEHUB_WIFI_SSID=""
CONFIG_HOMEHUB_WIFI_PASSWORD=""
CONFIG_RIG_HTTP_PROXY=y
CONFIG_RIG_HTTP_PROXY_HOST=""
CONFIG_RIG_HTTP_PROXY_PORT=7897
CONFIG_RIG_PARTICLE_FACE_BENCH=n
CONFIG_HOMEHUB_OTA_ENABLED=n
CONFIG_HOMEHUB_PAIRING_EFUSE_AUTH=n
CONFIG_HOMEHUB_NVS_ENCRYPTION=n
